<div class="card">
  <div class="card-header">
    employee-list works!
  </div>
  <div class="card-body">
    list of emp
    <table
      class="table table-striped table-inverse table-responsive"
      *ngIf="employees$ | async as employees"
    >
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Profile Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.emailAddress }}</td>
          <td>
            <img
              [src]="employee.profileImage"
              alt="profile"
              [routerLink]="[
                {
                  outlets: {
                    employeeDetails: ['/edit', employee.id]
                  }
                }
              ]"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet name="employeeDetails"></router-outlet>
